@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

@font-face {
    font-family: 'spartan';
    src: url('fonts/spartanmb-extra-bold-webfont.woff2') format('woff2'),
         url('fonts/spartanmb-extra-bold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'spartan';
    src: url('fonts/spartanmb-regular-webfont.woff2') format('woff2'),
         url('fonts/spartanmb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spartan';
    src: url('fonts/spartanmb-semibold-webfont.woff2') format('woff2'),
         url('fonts/spartanmb-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'schola';
    src: url('fonts/texgyreschola-bold-webfont.woff2') format('woff2'),
         url('fonts/texgyreschola-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'schola';
    src: url('fonts/texgyreschola-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/texgyreschola-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'schola';
    src: url('fonts/texgyreschola-italic-webfont.woff2') format('woff2'),
         url('fonts/texgyreschola-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'schola';
    src: url('fonts/texgyreschola-regular-webfont.woff2') format('woff2'),
         url('fonts/texgyreschola-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-image: url('images/bg_tile.png');
    background-repeat: repeat;
}

body {
    margin: auto;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    width: 33%;
}

h1 {
    color: #000;
    font-family: spartan, futura, sans-serif;
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
}

.description {
    color: #000;
    font-family: spartan, futura, serif;
    font-size: 16px;
    text-align: center;
}

.front-table{
    left: 50%;
    margin: auto;
    max-width: 75%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.code-block {
    background-color: #000;
    color: #fff;
}

h2 {
    font-family: spartan, futura, sans-serif;
    font-size: 22px;
    font-weight: bolder;
}

h4 {
    font-family: spartan, futura, sans-serif;
    font-size: 18px;
    font-weight: normal;
}