@font-face {
    font-family: 'spartan';
    src: url('fonts/spartanmb-extra-bold-webfont.woff2') format('woff2'),
         url('fonts/spartanmb-extra-bold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'spartan';
    src: url('fonts/spartanmb-regular-webfont.woff2') format('woff2'),
         url('fonts/spartanmb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spartan';
    src: url('fonts/spartanmb-semibold-webfont.woff2') format('woff2'),
         url('fonts/spartanmb-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'schola';
    src: url('fonts/texgyreschola-bold-webfont.woff2') format('woff2'),
         url('fonts/texgyreschola-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'schola';
    src: url('fonts/texgyreschola-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/texgyreschola-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'schola';
    src: url('fonts/texgyreschola-italic-webfont.woff2') format('woff2'),
         url('fonts/texgyreschola-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'schola';
    src: url('fonts/texgyreschola-regular-webfont.woff2') format('woff2'),
         url('fonts/texgyreschola-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    background-color: rgb(20, 22, 35);
}

h1 {
    color: #fff;
    font-family: spartan, futura, sans-serif;
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
}

body {
    color: #fff;
    font-family: schola, serif;
    font-size: 16px;
    letter-spacing: 0.25px;
    line-height: 1.2;
    text-align: left;
}