<!-- set "reactions" to "1" or "0" in an include to turn on/off -->
<script src="https://giscus.app/client.js"
    data-repo="callumhackett/callumhackett.github.io"
    data-repo-id="R_kgDOHDt3Ag"
    data-category="Comments"
    data-category-id="DIC_kwDOHDt3As4CSnKG"
    data-mapping="url"
    data-strict="0"
    data-reactions-enabled="{{ include.reactions }}"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="{{ site.url }}/assets/css/giscus.css"
    data-lang="en"
    crossorigin="anonymous"
    async>
</script>