<div id="background-colour"></div>
<div id="background-grain"></div>
<div id="background-lines"></div>
<div id="header-container">
    <div id="header">
        <div id="title">
            <h1><a href="{{ site.url }}">CALLUM HACKETT</a></h1>
            {% for item in site.data.social_links %}
            <a href="{{ item.link }}"><img src="{{ item.image }}" title="{{ item.name }}" /></a>
            {% endfor %}
        </div>
        <div id="profile-pic">
            <img src="/assets/images/profile_pic.png" title="Callum Hackett" style="vertical-align: top !important;" />
        </div>
    </div>
    <div id="navigation">
        <a href="{{ site.url }}">Home</a>
        {% for item in site.data.page_links %}
        |<a href="{{ item.link }}">{{ item.name }}</a>
        {% endfor %}
    </div>
</div>