<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/fonts.css"> <!-- font styles -->
        <link rel="stylesheet" href="/assets/css/core.css"> <!-- universal styles -->
        <link rel="stylesheet" href="/assets/css/{{ include.css }}.css"> <!-- layout-specific styles -->

        <meta name="author" content="Callum Hackett" />
        <meta property="og:locale" content="en" />
        <meta property="og:site_name" content="Callum Hackett" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta name="description" content="{{ page.description }}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <meta property="og:type" content="{{ page.type }}" />
        <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
        <meta property="og:image:alt" content="{{ page.image_alt }}" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@callumhackett_" />
        <meta name="twitter:creator" content="@callumhackett_" />
        <meta name="twitter:title" content="{{ page.title }}" />
        <meta name="twitter:description" content="{{ page.description }}" />
        <meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />
        <meta name="twitter:image:alt" content="{{ page.image_alt }}" />

        {% feed_meta %}

        <title>Callum Hackett | {{ page.title | smartify }}</title>
    </head>

    <body>
        <div id="title-bar">
            <div id="header">
                <h1><a href="{{ site.url }}">Callum Hackett</a></h1>
                {%- for entry in site.data.social_links -%}
                <a href="{{ entry.link }}"><img src="{{ entry.image }}" title="{{ entry.name }}"/></a>
                {%- endfor -%}
            </div>
            <div id="navigation">
                <a href="{{ site.url }}">Home</a>
                {%- for entry in site.data.navbar -%}
                {%- if entry.link -%}
                <a href="{{ entry.link }}">{{ entry.nav_label | smartify }}</a>
                {%- else -%}
                {%- for page in site.pages -%}
                {%- if entry.nav_label == page.nav_label -%}
                <a href="{{ site.url }}{{ page.permalink }}">{{ page.nav_label | smartify }}</a>
                {%- endif -%}
                {%- endfor -%}
                {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
        <div id="body-container">
            <div id="body-table">
                {{ include.body-content }}
            </div>
        </div>
    </body>
</html>