<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/core.css"> <!-- universal css -->
        <link rel="stylesheet" href="{{ include.css }}"> <!-- layout-specific css -->

        <meta name="author" content="Callum Hackett" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Callum Hackett" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta name="description" content="{{ page.description }}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <meta property="og:type" content="{{ page.type }}" />
        <meta property="og:image" content="{{ site.url }}{{ page.og_image }}" />
        <meta property="og:image:alt" content="{{ page.social_image_alt }}" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@callumhackett_" />
        <meta name="twitter:creator" content="@callumhackett_" />

        {% feed_meta %}

        <title>Callum Hackett{% if page.title %} | {{ page.title }}{% endif %}</title>
    </head>
    <body>
        <div id="header-container">
            <div id="header">
                <div id="title">
                    <h1><a href="{{ site.url }}">Callum Hackett</a></h1>
                    {% for item in site.data.social_links %}<a href="{{ item.link }}"><img src="{{ item.image }}" title="{{ item.name }}"/></a>{% endfor %}
                </div>
                <div id="profile-pic">
                    <a href="{{ site.url }}">
                        <img src="/assets/images/core/profile_pic.png" title="Callum Hackett" />
                    </a>
                </div>
            </div>
            <div id="navigation">
                <a href="{{ site.url }}">Home</a>{% for item in site.data.page_links %}|<a href="{{ site.url }}/{{ item.page }}">{{ item.name }}</a>{% endfor %}
            </div>
        </div>
        <div id="main-table-container">
            <div id="main-table">
                {{ include.table-content }}
            </div>
        </div>
    </body>
</html>