{%- assign tags = include.tags | split: ", " -%}
<div class="post-index-entry">
    <a href="{{ include.url }}"><img src="{{ include.image }}"/></a>
    <div class="post-index-entry-date">{% include date_formatter.html date=include.date %}</div>
    <div class="post-index-entry-title"><h1><a href="{{ include.url }}">{{ include.title | smartify }}</a></h1></div>
    <p>{{ include.description | smartify }}</p>
    <div class="post-index-entry-tags post-tags">
        {%- for tag in tags -%}
        {% include tag_formatter.html tag=tag %}
        {%- endfor -%}
    </div>
</div>