{%- if include.filter -%}
<div id="post-index">
    {%- for post in site.posts -%}
    {%- if post.tags contains include.filter -%}
    {%- assign tags = post.tags | join: ", " -%}
    {% include post_index_entry.html date=post.date title=post.title url=post.url image=post.image description=post.description tags=tags %}
    {%- endif -%}
    {%- endfor -%}
</div>
{%- else -%}
<div id="post-index">
    {%- for post in site.posts -%}
    {%- assign tags = post.tags | join: ", " -%}
    {% include post_index_entry.html date=post.date title=post.title url=post.url image=post.image description=post.description tags=tags %}
    {%- endfor -%}
</div>
{%- endif -%}