/* Font Imports */

@font-face {
    font-family: rubik;
    src: url('/assets/fonts/rubik.woff2') format('woff2'),
         url('/assets/fonts/rubik.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: rubik;
    src: url('/assets/fonts/rubik-italic.woff2') format('woff2'),
         url('/assets/fonts/rubik-italic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: besley;
    src: url('/assets/fonts/besley-book.woff2') format('woff2'),
         url('/assets/fonts/besley-book.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: besley;
    src: url('/assets/fonts/besley-bookitalic.woff2') format('woff2'),
         url('/assets/fonts/besley-bookitalic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: besley;
    src: url('/assets/fonts/besley-bold.woff2') format('woff2'),
         url('/assets/fonts/besley-bold.woff') format('woff');
    font-weight: bold;
}

/* Dynamic Layout */

@media screen and (min-width: 1366px) {
    #header-container {
        display: grid;
        grid: 100% / auto auto;
        position: relative;
    }

    #navigation {
        grid-column: 1 / 3;
        grid-row: 1;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #header {
        grid-column: 2;
        grid-row: 1;
    }
}

@media screen and (max-width: 1365px) {
    #header-container {
        margin-bottom: 2.5vh;
    }

    #header {
        text-align: center;
        margin: 2.5vh 0 0 0;
    }

    #profile-pic {
        display: none !important;
    }

    #navigation {
        text-align: center;
        margin: 5vh 0 0;
        padding: 0vh 7.5% 2.5vh 7.5%;
    }
}

/* Backgrounds */

#background-colour {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -3;
    background-image: linear-gradient(
        25deg,
        hsl(189deg 32% 92%) 0%,
        hsl(169deg 25% 93%) 37%,
        hsl(139deg 18% 95%) 54%,
        hsl(83deg 14% 96%) 61%,
        hsl(65deg 14% 97%) 64%,
        hsl(75deg 17% 96%) 68%,
        hsl(85deg 19% 96%) 76%,
        hsl(96deg 20% 95%) 100%
    );
}

#background-grain {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: transparent url('/assets/images/grain.png');
    background-repeat: repeat;
    opacity: 0.33;
    z-index: -2;
}

#background-lines {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: repeating-linear-gradient(rgba(0,0,0,0.3) 0,transparent 1px,transparent 2px,rgba(0,0,0,0.3) 3px);
    opacity: 0.15;
    z-index: -1;
}

#header-container {
    background: #fff;
}

/* Fonts */

#header h1, #navigation {
    font-family: rubik, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

h2 {
    font-family: rubik, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.5px;
}

#metadata {
    font-family: rubik, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
}

p {
    font-family: besley, georgia, serif;
    font-size: 16px;
    line-height: 20px;
}

/* Colours */

h1, h1 a, #navigation, a {
    color: rgb(37, 40, 43);
}

h2, p {
    color: #000;
}

/* Element Styles */

body {
    margin: 0;
}

#header-container {
    text-align: right;
    width: 100%;
    align-items: center;
    height: 8vh;
}

#title img {
    padding: 0px 5px;
    opacity: 0.8; height: 24px;
}

#title, #profile-pic {
    display: inline-block;
}

#profile-pic {
    border-radius: 4px;
    padding-left: 4px; /* this should be 50% of the space between icons */
    padding-right: 8px; /* this should be equal to the space between icons */
    vertical-align: top !important;
}

#navigation a {
    margin: 0 12px;
}

#title h1 {
    /* These values should be the same as the padding between icons */
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
    margin: 0px 5px 10px !important;
    line-height: 0.9;
}

h2 {
    margin: 0 0 6px 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 16px;
}

a {
    text-decoration: none;
}