/* Size-Depedent Settings */
@media (min-width: 500px) {
    p, li {
        text-align: justify;
    }
    #newsletter-embed {
        display: block;
        margin: 0 auto;
    }
    #subscribe-button {
        display: none;
    }
}
@media (max-width: 499px) {
    #newsletter-embed {
        display: none;
    }
    #subscribe-button {
        display: block;
        margin: 24px auto 0 auto;
    }
}

/* Main Layout */
html, body {
    background-color: var(--bg-color);
    min-height: 100vh;
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#title {
    width: 100vw;
    margin-top: 5vh;
}
#pearl {
    width: 60px;
    margin: 60px;
}
#intro p {
    font-size: var(--intro-size);
    font-weight: var(--intro-weight);
    line-height: var(--intro-line-height);
    color: var(--intro-color);
    margin-bottom: 0;
    letter-spacing: var(--intro-spacing);
}
#intro img {
    float: right;
    min-width: 30%;
    width: calc(40% - (5 * (100vw / 100)));
    height: 183px;
    object-fit: cover;
    object-position: center top;
    border-radius: 3px;
    margin: 2px 0px 5px 25px;
    box-shadow: 4px 4px 0px hsla(12, 50%, 15%, 0.2);
}
#main {
    padding: 0px 30px 60px 30px;
    max-width: var(--content-width);
    flex: 1;
}
#footer {
    display: flex;
    background: var(--accent-color);
    width: 100%;
    justify-content: center;
    min-height: 50px;
    align-items: center;
    box-sizing: border-box;
    padding: 12px 28px;
    position: relative;
}
#footer p, #footer a {
    font-family: var(--footer-font);
    font-size: var(--footer-size);
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: var(--footer-spacing);
}
#dao {
    position: absolute;
    right: 15px;
    top: 35%;
}

/* Text */
h1, h2 {
    font-family: var(--accent-font);
    line-height: var(--headings-line-height);
    letter-spacing: var(--title-spacing);
}
h1 {
    color: var(--font-color);
    font-weight: var(--title-weight);
    font-size: var(--h1-size);
    text-align: center;
    word-spacing: var(--word-spacing);
    margin: 0;
}
h2 {
    color: var(--font-color);
    font-weight: var(--title-weight);
    font-size: var(--h2-size);
    margin: calc(var(--p-size)*2) 0 var(--p-size) 0;
    clear: both;
}
p, li {
    color: var(--font-color);
    font-family: var(--p-font);
    font-size: var(--p-size);
    line-height: var(--p-line-height);
    font-weight: var(--p-weight);
    margin-block-start: 0 !important;
    letter-spacing: var(--p-spacing);
    word-spacing: var(--p-word-spacing);
}
p:not(:last-child) {
    margin-block-end: var(--p-size);
}
p:last-child {
    margin-block-end: 0;
}
li {
    margin-bottom: 3px !important;
}
a, a:active, a:visited, a:hover {
    color: var(--accent-color);
}
ul {
    margin-block-start: calc(var(--p-size) / 3);
    margin-block-end: var(--p-size);
    margin-left: calc(var(--p-size) * 0.25);
}
li {
    padding-left: 6px;
    margin-block-end: calc(var(--p-size) / 3);
}
*::selection {
    background: var(--accent-color);
    color: var(--bg-color);
}

/* Media */
audio {
    width: 100%;
}
.youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / 1.78); /* set the denominator to fix a constant aspect ratio */
    margin: 0 0 var(--p-size) 0 !important;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}