/* Structural elements */
body {
   background-color: var(--computer-grey);
   display: flex;
   justify-content: center;
   align-items: center;
}
#body-grid {
    display: flex;
    border: var(--border);
}
#navigation {
    display: flex;
    flex-wrap: wrap;
}
hr {
    border: 1px solid var(--text-black);
    margin: calc(2*var(--p-size)) 0;
    padding: 0;
}

/* Text */
.site-title {
    color: var(--text-black);
}
#navigation a {
    color: var(--text-black);
    font-family: var(--accent-font);
    font-size: var(--h2-size);
    line-height: 0;
}
h1, h2 {
    font-family: var(--accent-font);
    line-height: var(--headings-line-height);
    word-spacing: var(--word-spacing);
}
h1 {
    font-weight: normal;
    font-size: var(--h1-size);
    margin: 0 0 var(--p-size) 0;
}
h2 {
    font-weight: normal;
    font-size: var(--h2-size);
}
p, li {
    color: var(--text-black);
    font-family: var(--p-font);
    font-size: var(--p-size);
    line-height: var(--p-line-height);
    font-weight: var(--p-weight);
    margin-block-start: 0 !important;
    letter-spacing: var(--p-spacing);
    word-spacing: var(--word-spacing);
}
p:not(:last-child) {
    margin-block-end: var(--p-size);
}
p:last-child {
    margin-block-end: 0;
}
.center-text {
    text-align: center;
}
sup {
    vertical-align: top;
    position: relative;
    top: -0.3em;
    font-size: 0.67em;
}
li {
    margin-bottom: 3px !important;
}
a, a:active, a:visited, a:hover {
    color: var(--lapis-blue);
    text-decoration: none;
}
ul {
    margin-block-start: calc(var(--p-size) / 3);
    margin-block-end: var(--p-size);
    margin-left: calc(var(--p-size) * 0.25);
}
li {
    padding-left: 6px;
    margin-block-end: calc(var(--p-size) / 3);
}
.post-date {
    font-family: var(--accent-font);
    text-align: center;
    font-size: var(--h1-size);
}
figcaption {
    color: var(--soft-black);
    font-family: var(--accent-font);
    font-size: var(--caption-size);
    margin: 8px 0 0 0;
    text-align: center;
}
.divider {
    text-align: center;
}
*::selection {
    background: var(--lapis-blue);
    color: var(--computer-grey);
}

/* Images */
figure {
    margin: 0 0 var(--p-size) 0;
}
figure img {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: var(--border-radius);
}
.img-right {
    float: right;
    width: 45%;
    margin-left: 28px;
    margin-top: 4px;
    margin-bottom: 12px;
}

/* Media */
audio {
    width: 100%;
}
.youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / 1.78); /* set the denominator to fix a constant aspect ratio */
    margin: 0 0 var(--p-size) 0 !important;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 899px) {
    body {
        margin: 10px;
    }
    #body-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .site-title {
        text-align: center;
    }
    #navigation {
        display: flex;
        padding: 36px 24px 42px 24px;
        row-gap: 18px;
        column-gap: 24px;
        align-items: center;
        justify-content: center;
        border-bottom: var(--border);
    }
    #navigation img {
        display: none;
    }
    #body-content {
        padding: 36px 24px 24px 24px;
        max-width: 650px;
    }
    blockquote {
        padding: 0 0 0 calc(var(--p-size) * 1);
        margin: calc(var(--p-size) * 1.5) 0;
    }
    ul, ol {
        padding-left: var(--p-size) !important;
    }
    ol {
        list-style-position: inside;
    }
    li {
        padding-left: 0px;
    }
}

@media (min-width: 900px) {
    html, body {
        height: 100%;
        margin: 0;
    }
    body {
        transform: translateY(-2%);
    }
    #body-grid {
        width: var(--max-content-width);
        flex-direction: row;
    }
    #body-content {
        padding: 60px;
    }
    #navigation {
        flex-direction: column;
        row-gap: 12px;
        padding: 62px 60px 60px 60px;
        border-right: var(--border);
        min-width: 130px;
    }
    blockquote {
        padding: 0 calc(var(--p-size) * 1.5);
        margin: calc(var(--p-size) * 1.5) 0;
    }
    ul, ol {
        padding-left: var(--p-size) !important;
    }
}

@media (min-width: 500px) {
    p, .abstract, li {
        text-align: justify;
    }
}