/* Template for inserting a custom font
@font-face {
    font-family: FONT;
    src: url('/assets/fonts/FONT.woff2') format('woff2'),
         url('/assets/fonts/FONT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/