/* Imports */
@font-face {
    font-family: 'barlow';
    src: url('/assets/fonts/barlow-medium.woff2') format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'barlow';
    src: url('/assets/fonts/barlow-mediumitalic.woff2') format('woff2');
    font-style: italic;
}
@font-face {
    font-family: 'spline sans mono';
    src: url('/assets/fonts/splinesansmono-regular.woff2') format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'spline sans mono';
    src: url('/assets/fonts/splinesansmono-italic.woff2') format('woff2');
    font-style: italic;
}
@font-face {
    font-family: 'spline sans mono';
    src: url('/assets/fonts/splinesansmono-bold.woff2') format('woff2');
    font-weight: bold;
}

/* Font Families */
#title, #navigation, #metadata, #post-date, .post-index-entry-date, #post-tags, h1, h2, h3 {
    font-family: 'barlow', 'futura', sans-serif;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-block-start: 0 !important;
}
p, li {
    font-family: 'spline sans mono', 'inconsolata', sans-serif;
    color: #282828;
    letter-spacing: -0.5px;
    word-spacing: -0.5px;
    margin-block-start: 0 !important;
}

/* Font Sizes */
#header h1, .post-index-entry-date {
    font-size: 1em;
    line-height: 1em;
}
#navigation, #metadata-title, #feed-link, #page-content h1, h2, h3 {
    font-size: 1.3em;
    line-height: 1em;
}
p, li {
    font-size: 0.9em;
    line-height: 1.35em;
}
#post-tags {
    font-size: 1em;
    line-height: 1.35em;
}

/* Dynamic Sizes */
@media screen and (max-width: 1365px) {
    #navigation {
        line-height: 1.5em !important;
    }
}

/* Font Layout */
ul {
    margin-block-start: 0 !important;
}
p:not(:last-child), ul {
    margin-block-end: 0.9em;
}
p:last-child {
    margin-block-end: 0;
}
li {
    margin-block-end: 0.25em;
}

/* Dynamic Layout */
@media screen and (min-width: 1366px) {
    ul {
        padding-left: 2em;
    }
}
@media screen and (max-width: 1365px) {
    ul {
        padding-left: 1.5em;
    }
}

/* Links */
a, a:active, a:visited, a:hover {
    color: rgb(0, 0, 255);
    outline: none;
    text-decoration: none;
}
#header a, #navigation a {
    color: #000;
}
#page-content p a {
    text-decoration: underline;
}