@media screen and (min-width: 840px) {
    #index-grid {
        display: grid;
        grid: var(--index-row-height) var(--index-row-height) / var(--index-column-width) var(--index-column-width); /* rows then columns */
        position: absolute;
        column-gap: var(--index-grid-column-gap);
        row-gap: var(--index-grid-row-gap);
        top: calc(50% - var(--index-row-height) - calc(var(--index-grid-row-gap) / 2));
        left: calc(50% - var(--index-column-width) - calc(var(--index-grid-column-gap) / 2)); /* last value should be half the middle column above */
    }
    #index-grid-cell {
        background-color: #fff8ed;
        background-image: var(--canvas-background-large);
        background-size: auto;
        overflow: hidden;
        display: flex;
        border-radius: var(--index-border-radius);
        background-position: top left;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.33);
    }
    #index-grid p {
        font-size: 32px;
        font-weight: bold;
        padding-top: 4px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    }
    #index-grid p a {
        color: var(--body-color);
    }
}