/* Background Colours */
#music, #audiobook, #spotlight, #blog {
    background: rgba(0,0,0,0);
}
.text-cell {
    background: #fff;
}

/* Shapes */
.index iframe, .text-cell {
    border-radius: 3px;
}

/* Dynamic Shadows */
@media screen and (min-width: 1366px) {
    .full-cell iframe {
        box-shadow: 0px 0px 3px 1px rgb(225, 225, 225);
    }
    .top-cell img, .top-cell iframe {
        box-shadow: 0px -2px 2px rgb(185, 185, 185);
    }
    .bottom-text-cell {
        box-shadow: 0px 2px 2px rgb(225, 225, 225);
    }
    .bottom-cell img, .bottom-cell iframe {
        box-shadow: 0px 2px 2px rgb(185, 185, 185);
    }
}
@media screen and (max-width: 1365px) {
    .cell {
        display: block;
        box-shadow: 0px 2px 2px rgb(225, 225, 225);
    }
}

/* Base Layout */
.index h2 {
    margin: 0 0 0.5em 0 !important;
}
.text-cell {
    box-sizing: border-box;
    padding: 1.5em;
}

/* Dynamic Layout */
@media screen and (min-width: 1366px) {
    #body-table {
        display: grid;
        grid: 243px 243px / 432px 432px 432px; /* the dimensions are based on cells at 16:9 with a container 1366px wide */
        gap: 35px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 20vh);
    }
    .video-cell iframe {
        height: 243px;
        width: 432px;
    }
    .img-cell img {
        height: 243px;
        width: 432px;
    }
    #music {
        grid-column: 1;
        grid-row: 1 / 3;
    }
    #audiobook {
        grid-column: 2;
        grid-row: 1;
    }
    #podcast {
        grid-column: 2;
        grid-row: 2;
    }
    #spotlight {
        grid-column: 3;
        grid-row: 1;
    }
    #blog {
        grid-column: 3;
        grid-row: 2;
    }
}
@media screen and (max-width: 1365px) {
    .index {
        position: relative;
        width: 90%;
        margin: 0 auto 4vh auto;
    }
    .index:last-child {
        margin-bottom: 0 !important;
    }
    .music-cell {
        height: 50vh;
    }
    .img-cell img {
        width: 100%;
    }
    .video-cell {
        padding-bottom: 50.63%; /* ensures 16:9 aspect ratio when width is 90% */
    }
    .video-cell iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}