/* Font Imports */
@font-face {
    font-family: 'uni0553';
    src: url('/assets/fonts/uni0553.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'fragment mono';
    src: url('/assets/fonts/fragmentmono-regular.woff2') format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'fragment mono';
    src: url('/assets/fonts/fragmentmono-italic.woff2') format('woff2');
    font-style: italic;
}

/* Containers */
html {
    background-color: var(--main-background);
}
body {
    margin: 0;
}
*::selection {
    background: var(--accent-color);
    color: var(--selection-color);
}
#body-grid {
    background: var(--body-background);
    box-shadow: var(--box-shadow);
    padding: 6px var(--body-padding) var(--body-padding);
    margin-bottom: calc(var(--mobile-vertical-spacing) + var(--shadow-size));
}
@media screen and (min-width: 840px) {
    #body-grid {
        display: grid;
        grid: auto auto auto / var(--column-width) var(--column-width); /* rows then columns */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% - calc(var(--shadow-size) / 2)), calc(-50% - calc(var(--shadow-size) / 2)));
    }
    #title-bar {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    #summary {
        grid-column: 1;
        grid-row: 2;
        padding-right: var(--body-padding);
        border-right: var(--border-style);
        border-image: linear-gradient(to bottom, var(--border-color)) 0 1 0 0;
    }
    #content {
        grid-column: 2;
        grid-row: 2;
        padding-left: var(--body-padding);
    }
    #not_found {
        grid-column: 2;
        grid-row: 2;
        padding-left: var(--body-padding);
        place-self: center;
    }
}
@media screen and (max-width: 839px) {
    body {
        padding: 0 3%;
    }
    #body-grid {
        margin-top: var(--mobile-vertical-spacing);
    }
    #summary {
        padding-bottom: var(--body-padding);
    }
    #content {
        border-top: var(--border-style);
        border-image: linear-gradient(to right, var(--border-color)) 1 0 0 0;
        padding-top: var(--body-padding);
    }
    #not_found {
        border-top: var(--border-style);
        border-image: linear-gradient(to right, var(--border-color)) 1 0 0 0;
        padding-top: var(--body-padding);
    }
}

/* Font Families */
/* accent */
#title-bar p, h1 {
    font-family: var(--accent-font);
    font-weight: normal;
    letter-spacing: 0.25px;
    word-spacing: 2px;
    transform-origin: top left;
    transform: scalex(var(--accent-font-scale));
    width: calc(100% / var(--accent-font-scale));
    margin-block-start: 0;
    margin-block-end: 0;
}
/* body */
body, p, li {
    color: var(--body-color);
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    letter-spacing: -0.25px;
    word-spacing: -1px;
    margin-block-start: 0 !important;
}

/* Header Elements */
#title-bar {
    margin-bottom: 6px;
}
#title-bar p {
    color: var(--soft-color);
    font-size: var(--title-small-size);
    line-height: 1.4em;
    text-transform: uppercase;
}
#title-bar a {
    color: var(--title-color);
}
#title-bar a:hover {
    color: var(--accent-color);
}

/* Main Body Elements */
a, a:active, a:visited, a:hover {
    color: var(--accent-color);
    text-decoration: none;
}
p:not(:last-child) {
    margin-block-end: var(--body-font-size);
}
p:last-child {
    margin-block-end: 0;
}
#summary p:before {
    content: "▨ ";
}
#content a, .caption {
    font-variant: small-caps;
    letter-spacing: -0.33px;
}
#image {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 12px;
}
.caption {
    font-size: calc(var(--body-font-size) * 0.875);
    color: var(--soft-color);
    text-align: center;
    font-style: italic;
    margin-top: -6px !important;
}
ul {
    padding: 0 var(--body-padding);
    margin-block-start: calc(var(--body-font-size) / 3);
    margin-block-end: var(--body-font-size);
}
li {
    padding-left: 4px;
    margin-block-end: calc(var(--body-font-size) / 3);
}
audio {
    width: 100%;
}
.youtube { /* the youtube rules maintain a flexible size with 2.1:1 aspect ratio */
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / 2.1);
    margin: 0;
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}