/* Font Layout */
#metadata {
    text-align: right;
    line-height: 1em;
}
#page-content h1 {
    margin: 0 0 0.5em 0;
    line-height: 1em;
}
#blog-entry h1 {
    margin-bottom: 0.5em;
    line-height: 1em;
}
h2 {
    margin: 1.5em 0 0.25em 0;
}
#blog-entry h3 {
    margin: 0 0 0.75em 0;
    line-height: 1em;
}

/* Element Styles */
#page-content {
    padding: 2em 2em 1em 2em; /* half the bottom padding should be supplied by the final page-content element */
    box-sizing: border-box;
    margin-bottom: 2.5vh;
}

/* Dynamic Layout */
@media screen and (min-width: 1366px) {
    #body-table {
        display: grid;
        grid: minmax(243px, auto) / 432px 899px; /* these dimensions should merge the last two columns of the landing.css table */
        gap: 35px;
        position: absolute;
        top: 0; /* this negates half the space taken up by the header for better visual balance */
        left: 50%;
        transform: translate(-50%, 20vh);
    }
    #page-content {
        grid-column: 2;
        grid-row: 1;
    }
    #page-content p {
        text-align: justify;
    }
    #metadata {
        grid-column: 1;
        grid-row: 1;
        padding: 1.5em 0 0 0;
    }
    .youtube {
        margin: 0em 0 1em -2em;
    }
    .youtube iframe {
        width: 899px; /* this should be the same as the large cell width */
        height: 506px; /* this maintains a 16:9 aspect ratio with a width of 899px */
    }
    #blog-index img {
        float: left;
        margin-right: 1.35em; /* this should be the same as the body line-height */
        width: 30%;
    }
}

@media screen and (max-width: 1365px) {
    #body-table {
        margin: auto;
        width: 90%;
    }
    #metadata {
        padding: 0 0 2.5vh 0; /* this should be equal to the page-content padding */
    }
    .youtube {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0 0 1em 0;
    }
    .youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px; /* this should be the same as the main border radius in core.css */
    }
    audio {
        width: 100%;
    }
    #blog-index img {
        margin: 0 0 1.35em; /* this should be the same as the main body line height */
        width: 100%;
    }
}