/* Containers */
#page-content {
    background: var(--body-background);
    border-radius: var(--border-radius);
    box-shadow: var(--black-shadow);
    box-sizing: border-box;
    position: relative;
}
@media screen and (min-width: 1366px) {
    #body-content {
        display: grid;
        grid: minmax(var(--grid-cell-height), auto) / var(--grid-cell-width) var(--grid-body-width);
        gap: var(--grid-gap-size);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 20vh);
    }
    #page-content {
        grid-column: 2;
        grid-row: 1;
    }
    #sidebar {
        grid-column: 1;
        grid-row: 1;
    }
}
@media screen and (min-width: 600px) {
    #sidebar {
        padding: 0 0 calc(var(--mobile-vertical-spacing) * 1.5) 0;
    }
}
@media screen and (max-width: 599px) {
    #sidebar {
        padding: 0 0 var(--mobile-vertical-spacing) 0;
    }
}
@media screen and (max-width: 1365px) {
    body {
        padding: 0 5%;
    }
    #body-content {
        margin: auto;
        max-width: var(--grid-body-width);
    }
}

/* Post Body Elements */
#piano-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 10% !important;
    min-width: 60px;
    z-index: 10;
}
#page-content h1 {
    font-size: var(--title-large-size);
    margin: 0 0 0.5em 0;
}
#page-content h2 {
    font-size: var(--title-large-size);
    margin: 1.5em 0 0.25em 0;
}
#page-content h3 {
    font-size: var(--title-small-size);
}
#page-content h3:first-child {
    margin: 0 0 0.25em 0;
}
#page-content h3:not(:first-child) {
    margin: 1.5em 0 0.25em 0;
}
#post-date {
    font-size: var(--title-small-size);
    margin-block-start: 0 !important;
}
audio {
    margin-block-end: calc(var(--body-font-size) * 0.8);
}
#list-of-works p:not(:last-child) {
    margin-block-end: calc(var(--body-font-size) / 2);
}
@media screen and (min-width: 1366px) {
    #piano-icon {
        transform: translate(calc(var(--body-padding) * -0.75), -50%);
    }
    #page-content {
        padding: var(--body-padding);
    }
    #page-content p {
        text-align: justify;
    }
    .youtube {
        margin-right: 0;
        margin-bottom: calc(var(--body-font-size) * 0.8);
        margin-left: calc(var(--body-padding) * -1);
    }
    .youtube iframe {
        width: var(--grid-body-width); /* this should be the same as the large cell width */
        height: calc(var(--grid-body-width) / 1.77778); /* this maintains a 16:9 aspect ratio with a width of 899px */
    }
    #mobile-post-tags {
        display: none !important;
    }
}
@media screen and (min-width: 600px) {
    .small-pic {
        float: left;
        margin: var(--body-img-spacing);
        width: var(--body-img-width);
    }
    #page-content {
        padding: var(--body-padding);
    }
}
@media screen and (max-width: 599px) {
    #page-content img {
        margin: 0 0 calc(var(--body-padding) / 3);
        width: 100%;
    }
    #page-content {
        padding: var(--mobile-body-padding);
    }
}
@media screen and (max-width: 1365px) {
    #piano-icon {
        transform: translate(calc(var(--body-padding) * -0.75), -50%);
    }
    .youtube {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: calc(100% / 1.77778);
        margin: 0 0 calc(var(--body-font-size) * 0.8) 0;
    }
    .youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: calc(var(--border-radius) * 0.67);
    }
    audio {
        width: 100%;
    }
    .post-index-entry-tags {
        line-height: 1.3em;
    }
    #mobile-post-tags {
        padding: var(--body-padding) var(--body-padding) var(--mobile-vertical-spacing) var(--body-padding);
        line-height: 1.75em;
    }
    #mobile-post-tags a {
        color: var(--title-color);
        background: var(--main-background-overlay);
    }
    #mobile-post-tags .post-tag {
        padding-right: 10px;
    }
}

/* Index Body Elements */
.post-index-entry {
    display: inline-block;
    clear: both;
    padding-bottom: calc(var(--body-padding) /2);
}
.post-index-entry-date {
    font-size: var(--title-small-size);
    margin-block-start: 0;
}
.post-index-entry-title h1 {
    margin: 0 0 0.75em 0;
}
.post-index-entry p {
    text-align: left !important;
}
.post-index-entry-tags {
    font-size: 0.8em;
    padding-bottom: var(--body-padding);
    clear: both;
    margin-block-start: 0;
}
.post-index-entry-tags a {
    color: rgb(140, 140, 140);
}
.post-index-entry-tags a:hover {
    color: var(--link-color);
}
.post-index-entry-tags .post-tag, #mobile-post-tags .post-tag {
    padding-right: 15px !important;
}
.post-index-entry:last-child {
    padding-bottom: 0 !important;
}
@media screen and (min-width: 1366px) {
    #post-index img {
        margin-top: 2px;
        float: left;
        margin-right: 16px;
        margin-bottom: 8px;
        width: var(--body-img-width);
    }
}
@media screen and (min-width: 600px) {
    #post-index img {
        float: left;
        margin: 2px 16px 8px 0px;
        width: var(--body-img-width);
    }
}
@media screen and (max-width: 599px) {
    #piano-icon {
        display: none !important;
    }
    #post-index img {
        margin: 0 0 calc(var(--body-padding) / 3);
        width: 100%;
    }
}

/* Sidebar Elements */
#sidebar {
    text-align: right;
    margin-block-start: 0 !important;
}
#sidebar-title {
    font-size: var(--title-large-size);
    line-height: var(--title-line-height);
}
.sidebar-title {
    background: var(--main-background-overlay);
}
#feed-link {
    font-size: var(--title-small-size);
    line-height: var(--body-line-height);
}
#feed-link a {
    color: rgb(255, 245, 0);
    background: var(--main-background-overlay);
}
#feed-link a:hover {
    color: #fff;
}
#tag-title, #sidebar-post-tags {
    font-size: var(--title-small-size);
    line-height: var(--body-line-height);
    padding-top: var(--grid-gap-size);
}
#sidebar-post-tags a, #tag-title a, #tag-id {
    color: var(--title-color);
    background: var(--main-background-overlay);
}
#sidebar-post-tags a:hover, #mobile-post-tags a:hover {
    color: #fff;
}
@media screen and (min-width: 1366px) {
    #sidebar {
        padding: var(--body-padding) 0 0 0;
    }
}
@media screen and (max-width: 1365px) {
    #sidebar-title, #feed-link, #sidebar-post-tags {
        display: none !important;
    }
    #tag-title {
        padding: 0 !important;
    }
}