/* Containers */
#page-content {
    background: var(--body-background);
    border-radius: var(--border-radius);
    box-shadow: var(--bottom-shadow-shape) var(--shadow-light);
    box-sizing: border-box;
}
@media screen and (min-width: 1366px) {
    #body-table {
        display: grid;
        grid: minmax(var(--grid-cell-height), auto) / var(--grid-cell-width) var(--grid-body-width);
        gap: var(--grid-gap-size);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 20vh);
    }
    #page-content {
        grid-column: 2;
        grid-row: 1;
    }
    #sidebar {
        grid-column: 1;
        grid-row: 1;
    }
}
@media screen and (max-width: 1365px) {
    #body-table {
        margin: auto;
        width: var(--mobile-content-width);
    }
    #sidebar {
        padding: 0 0 var(--mobile-element-spacing) 0;
    }
}

/* Main Body Elements */
#page-content h1 {
    margin: 0 0 0.5em 0;
}
#page-content h2 {
    margin: 1.5em 0 0.25em 0;
}
#page-content h3:first-child {
    margin: 0 0 0.25em 0;
}
#page-content h3:not(:first-child) {
    margin: 1.5em 0 0.25em 0;
}
.post-index-entry {
    display: inline-block;
    clear: both;
    padding-bottom: calc(var(--body-padding) /2);
}
.post-index-entry-date {
    font-size: var(--title-small-size);
    line-height: var(--title-line-height);
}
.post-index-entry-title h1 {
    margin: 0 0 0.75em 0 !important;
}
.post-index-entry p {
    text-align: left !important;
}
.post-index-entry-tags {
    font-size: 0.8em;
    line-height: var(--title-line-height);
    padding-bottom: var(--body-padding);
}
.post-index-entry-tags a {
    color: rgb(136, 138, 137);
}
.post-index-entry-tags .post-tag {
    padding-right: 10px !important;
}
.post-index-entry:last-child {
    padding-bottom: 0 !important;
}
#page-content img {
    box-shadow: 0px 1px 0px var(--shadow-light);
}
audio {
    margin-block-end: var(--body-font-size);
}
@media screen and (min-width: 1366px) {
    #page-content {
        padding: var(--body-padding);
    }
    #page-content p {
        text-align: justify;
    }
    #page-content .small-pic {
        margin-top: 2px;
    }
    #post-index img {
        margin-top: 1px;
    }
    #page-content .small-pic, #post-index img {
        float: left;
        margin-right: calc(var(--body-padding) * 0.75);
        width: var(--body-img-width);
    }
    .youtube {
        margin-top: calc(var(--body-padding) * 0.75);
        margin-right: 0;
        margin-bottom: calc(var(--body-padding) * 0.75);
        margin-left: calc(var(--body-padding) * -1);
    }
    .youtube iframe {
        width: var(--grid-body-width); /* this should be the same as the large cell width */
        height: calc(var(--grid-body-width) / 1.77778); /* this maintains a 16:9 aspect ratio with a width of 899px */
    }
    #sidebar {
        padding: var(--body-padding) 0 0 0;
    }
    #mobile-post-tags {
        display: none !important;
    }
}
@media screen and (max-width: 1365px) {
    #page-content {
        padding: calc((100% - var(--mobile-content-width)) / 2);
    }
    .youtube {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: calc(100% / 1.77778);
        margin: 0 0 1em 0;
    }
    .youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: calc(var(--border-radius) * 0.67);
    }
    audio {
        width: 100%;
    }
    .post-index-entry-tags {
        line-height: 1.3em;
    }
    #post-index img, #page-content img {
        margin: 0 0 calc(var(--body-padding) / 3);
        width: 100%;
    }
    #mobile-post-tags {
        padding: var(--body-padding) 0 0 0;
        line-height: 1.3em;
    }
    #mobile-post-tags a {
        color: var(--title-color);
    }
    #mobile-post-tags .post-tag {
        padding-right: 10px;
    }
}

/* Sidebar Elements */
#sidebar {
    text-align: right;
    text-shadow: var(--title-shadow);
}
#sidebar-title {
    font-size: var(--title-large-size);
    line-height: var(--title-line-height);
}
#feed-link {
    font-size: var(--title-small-size);
    line-height: var(--body-line-height);
}
#tag-title, #sidebar-post-tags {
    font-size: var(--title-small-size);
    text-shadow: var(--title-shadow);
    line-height: var(--body-line-height);
    padding-top: var(--grid-gap-size);
}
#sidebar-post-tags a, #tag-title a {
    color: var(--title-color);
}
@media screen and (max-width: 1365px) {
    #sidebar-title, #feed-link, #sidebar-post-tags {
        display: none !important;
    }
    #tag-title {
        padding: 0 !important;
    }
}