:root {
    /* Background Colors */
    --main-background: rgb(140, 195, 191);
    --body-background: #fff;
    --shadow-size: 4px;
    --box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px #000;

    /* Foreground Colors */
    --title-color: #111;
    --body-color: #000;
    --accent-color: rgb(0, 0, 255);
    --soft-color: #777;
    --very-soft-color: #ddd;
    --border-style: 1px solid;
    --border-color: #fff, var(--very-soft-color) 2.5%, var(--very-soft-color) 97.5%, #fff;
    --selection-color: #fff;

    /* Font Families */
    --accent-font: 'uni0553', 'fragment mono', 'roboto mono', monospace;
    --accent-font-scale: 0.85;
    --body-font: 'fragment mono', 'roboto mono', monospace;
    --title-small-size: 18px;
    --body-font-size: 14px;
    --body-line-height: 1.4em;

    /* Element Spacing */
    --body-padding: 16px;
    --column-width: 400px;
    --mobile-vertical-spacing: 2vh;
}