:root {
    /* Background Colors */
    --main-background:#fff;

    /* Foreground Colors */
    --title-color: #fff;
    --body-color: #000;
    --accent-color: #283d88;
    --selection-color: #fff;

    /* Font Properties */
    --accent-font: 'Overpass';
    --body-font: 'Overpass';
    --title-font-size: 48px;
    --body-font-size: 16px;
    --body-line-height: 1.4em;

    /* Element Spacing */
    --body-padding: 16px;
    --column-width: 360px;
    --row-height: 90px;
    --grid-gap: 150px;
    --mobile-vertical-spacing: 2vh;
}