:root {
    /* Colours */
    --text-black: rgba(0, 0, 0, 0.9);
    --lapis-blue: hsl(229, 63%, 43%);
    --computer-grey: hsl(229, 22.5%, 95%);

    /* Font Families */
    --accent-font: 'Rubik', 'Helvetica', sans-serif;
    --p-font: 'Rubik', 'Helvetica', sans-serif;
    --code-font: 'CommitMonoV143', monospace;
    --code-font-feature-settings: 'cv03', 'cv08', 'cv10', 'ss03', 'ss04', 'ss05';

    /* Font Styles */
    --h1-size: 22px;
    --h2-size: 18px;
    --p-size: 16px;
    --description-size: 16px;
    --caption-size: 14px;
    --headings-line-height: 1.3em;
    --p-line-height: 1.3em;
    --p-weight: 400;
    --description-weight: 400;
    --p-spacing: 0.1px;
    --description-spacing: 0px;
    --word-spacing: -0.5px;

    /* Other */
    --max-content-width: 920px;
    --border-radius: 4px;
    --border: 2px solid var(--text-black);
}