{%- capture body-content -%} <!-- creates a variable called body-content and binds the enclosed HTML to it, to be passed to the include -->
<div id="body-grid">
    <div id="title-bar">
        {%- if page.url == "/" -%}
            {%- assign current-status = "current-page" -%}
        {%- endif -%}
        <a class="{{ current-status }}" href="{{ site.url }}">Callum Hackett</a>
        {%- for entry in site.data.navbar -%}
            &nbsp•&nbsp
            {%- if entry.link -%}
                <a href="{{ entry.link }}">{{ entry.nav_label | smartify }}</a>
            {%- else -%}
                {%- assign current-status = nil -%}
                {%- for place in site.pages -%} <!-- the variable cannot be called page or it will clash with the current status check -->
                    {%- if entry.nav_label == place.nav_label -%}
                        {%- if page.url == place.permalink -%}
                            {%- assign current-status = "current-page" -%}
                        {%- endif -%}
                        <a class="{{ current-status }}" href="{{ site.url }}{{ place.permalink }}">{{ entry.nav_label | smartify }}</a>
                    {%- endif -%}
                {%- endfor -%}
            {%- endif -%}
        {%- endfor -%}
    </div>
    <div id="constant-content">
        <p>I'm a researcher in linguistics interested in the evolutionary and cognitive foundations of language structure and meaning.</p>
        <p>I'm a philosopher in that my approach is grounded in philosophy of mind but I'm also interested in problems of consciousness.</p>
        <p>I'm a language engineer professionally, working to improve the quality of language-based AI tools in the vein of ChatGPT.</p>
        <p>I'm a classical musician (pianist and composer), currently experimenting with neoclassical electronica.</p>
    </div>
    <div id="variable-content">{{ content | smartify }}</div> <!-- this is how main body content is called from an .md file; smartify ensures curly quotes -->
</div>
{%- endcapture -%}

{% include main.html css="front" body-content=body-content %}