<!DOCTYPE html>
<html lang="en">
    <!-- Each layout file should specify its stylesheet here -->
    {% include html_head.html css="/assets/css/page.css" %}
    <body>
        {% include header.html %}
        <div id="main-table-container">
            <div id="main-table">
                <div id="metadata">
                    {{ page.metadata | smartify }}
                </div>
                <div id="content">
                    {{ content | smartify }}
                </div>
            </div>
        </div>
    </body>
</html>